[submodule "submodules/opencv_contrib"]
	path = submodules/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "submodules/opencv"]
	path = submodules/opencv
	url = https://github.com/opencv/opencv.git
